name = "private-gemini-console"
compatibility_date = "2024-11-01"

pages_build_output_dir = "dist"
pages_functions_root = "functions"

[[d1_databases]]
binding = "DB"
database_name = "private_gemini_db"
database_id = "dd9fdb8e-94e2-4a8c-b93d-fabb3b105295"

[[r2_buckets]]
binding = "FILES"
bucket_name = "gemini-chat-files"
